.Main{
  height: 94.1vh;
  width: 100vw;
  background-image: url('/static/track-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.con{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}