{% extends 'Base.html' %} {% block title %} Home {% endblock title %} {% block body %} {% if request.user.is_anonymous %}
<section class="Main">
   <div class="container con"> 
    <h1 class="text-left" style="font-size: 4rem">Welcome To</h1>
<h3 class="text-left change"  style="font-size: 2.3rem;margin-top: 5px"></h3>
</div>


</section>
<script>
    let ct = "";
    let count = 0;
    let index = 0;
    let letter = "";
    let word = ["TrackME"];
    (function type() {
        if (count === word.length) count = 0;
        ct = word[count];
        letter = ct.slice(0, ++index);
        document.querySelector(".change").textContent = letter;
        if (letter.length === ct.length) {
            count++;
            index = 0;
        }
        setTimeout(type, 800);
    })();
</script>

{% else %}
<section class="Main">
   <div class="container con"> 
    <h1 class="text-left" style="font-size: 4.5rem">Welcome </h1>
    <h2 class="text-left" style="font-size: 2rem">{{request.user.first_name}} {{request.user.last_name}}</h2>
<h3 class="text-left change"  style="font-size: 1.5rem;margin-top: 5px"></h3>
<button type="button" class="btn btn-outline-danger my-4" onclick="del()" style="width: 12vw" id="btn">Delete Your Records</button>
</div>


</section>
<script>




    document.getElementById('btn').onclick=function(){
                  fetch(`${window.location.origin}/del/{{request.user.username}}/`, {
                    method: 'POST',
                   
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                       'msg':'delete'
                    }),
                })
    }



    let ct = "";
    let count = 0;
    let index = 0;
    let letter = "";
    let word = ["TrackME"];
    (function type() {
        if (count === word.length) count = 0;
        ct = word[count];
        letter = ct.slice(0, ++index);
        document.querySelector(".change").textContent = letter;
        if (letter.length === ct.length) {
            count++;
            index = 0;
        }
        setTimeout(type, 800);
    })();




</script>



{% endif %} {% endblock body %}